
/* external css */
/* niversal selector */
*{
    border: 2px dotted gray;
}




h2 {
    text-align: center;
    text-decoration: underline;
}

.class-name{
    text-transform: uppercase;
    color: greenyellow;
}

#id-name{
    text-transform: lowercase;
    background-color: hotpink;
    color: gray;
}

span{
    color: darkblue;
}

span{
    color: darkorange;
}

h3.style-02{
    font-weight: bold;
    text-transform: uppercase;
    color: darkmagenta;
}

h3{
    font-weight: bold;
    text-transform: lowercase;
    color: lightskyblue;
}

ul li{
    font-weight: bold;
}

.nav-list li{
    text-transform: uppercase;
}